<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="spring-boot" parallel="none">
    <test name="test-1">
        <classes>
            <class name="com.example.cucumber.google.Search1Test" />
        </classes>
    </test>
    <test name="test-2">
        <classes>
            <class name="com.example.cucumber.google.Search2Test" />
        </classes>
    </test>
</suite>
